.build
Sources/.DS_Store
WebSources/.DS_Store
.DS_Store
Package.resolved
DevPublic
DistPublic
.vscode/settings.json
.vscode/settings.json
.vscode/settings.json
.vscode/launch.json
.swiftpm/xcode/package.xcworkspace/xcuserdata/victorcantu.xcuserdatad/UserInterfaceState.xcuserstate
.swiftpm/xcode/xcuserdata/victorcantu.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.devcontainer/devcontainer.json
